{% extends "base.html" %}

{% block content %}

<section>
    <form action="/countries/{{country.id}}">
        <label for="vu_name">VU. Name: </label>
        <input style="width: 15%;" type="text" name="vu_name">
        <label for="location">Location: </label>
        <input style="width: 15%;" type="text" name="location">
        <label for="rating">Rating out of 10: </label>
        <select style="width: 8%;" name="rating" id="rating">
            <option value="please-select" selected disabled required>--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="text">
        <input style="width: 15%;" type="submit" value="Add">
    </form>
</section>

{% endblock %}