{% extends "base.html" %}

{% block content %}
<article class="country-page-top">
    <section>
        <h2 class="country-heading"> {% if country.visited == True %} {{ country.name }} ✅ {% else %} {{ country.name }}
            ❌ {% endif %} </h2>
    </section>

    <section class="btn-container">
        <button class="button">
            <a class="button" href="/countries-{{country.id}}/edit">Edit</a>
        </button>
        <form action="/countries-{{country.id}}/delete" method="POST">
            <button class="button">Delete</button>
        </form>

    </section>
</article>
<hr>
<section>
    <div class="add-vu">
        <button class="button" id="colour-btn">
            <a class="button" href="/countries-{{country.id}}/new_vu">Add VU.</a>
        </button>
    </div>
</section>
<hr>
{% for vu_point in all_vu_points %}
<div class="card">
    <div class="new-vu">
        <b>Name:</b> {{ vu_point.name }} <br>
        <b>Location:</b> {{ vu_point.location.name }} <br>
        <b>Rating:</b> {{ vu_point.rating }} <br>
        <b>Description:</b> {{ vu_point.description }} <br>
        {% if vu_point.visited == True %} <b>Status:</b> ✅ {% else %} Status ❌ {% endif %}
    </div>
    <div class="btn-container">
        <button class="button">
            <a class="button" href="/countries-{{country.id}}/vu-points-{{vu_point.id}}/view">View</a>
        </button>
        <form action="/countries-{{country.id}}/vu-points-{{vu_point.id}}/delete" method="POST">
            <button class="button">Delete</button>
        </form>
    </div>
</div>
    <hr>
{% endfor %}
    {% endblock %}