{% extends "base.html" %}

{% block content %}

<section class="new-vu-section">
        <h2> {{ vu_point.name }}  </h2>
        Name:   {{ vu_point.name }} <br>
        Location: {{ vu_point.location.name }} <br>
        Rating: {{ vu_point.rating }} <br>
        Description: {{ vu_point.description }} <br>
        {% if vu_point.visited == True %} Status: ✅ {% else %} Status ❌ {% endif %}
        <p><a href="/countries-{{country.id}}/vu-points-{{vu_point.id}}/edit">Edit</a></p>
</section>
<hr>

{% endblock %}